.rj {
  font-family: Arial, sans-serif;
  
 }
 
 .navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #E0F4FF;
  padding: 15px 0;
  border-radius: 20px;
  margin-bottom: 20px;
 }
 
 .navbar-item {
  color: #333;
  text-decoration: none;
  margin: 0 10px;
 }
 
 .navbar-item:hover {
  color: #007bff;
 }
 
 .login-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
 }
 
 .login-btn:hover {
  background-color: #0056b3;
 }

 .maps{
  width: 90%;
  height: 500px;
  border-radius: 50px;
  margin-left: 70px;
 }


 .SOS {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
  margin-left: 35%;
  margin-top: 20px;
  height: 100px;
  width: 400px;
  font-size: 2.5rem;
  font-weight: 600px;
  border-radius: 30px;
 }

 .logo{
  width:40px;
  height: 40px;
  border-radius: 100%;
 }



  .sn{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    align-self: center;
    justify-self: center;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }


  .herose{
    background-image: url('bg.png');
  }
